<!doctype html>
<html>
  <head>
    <title>Social Minefield</title>
    <script src="{{ static_url("main.js") }}"></script>
    <link href="{{ static_url("main.css") }}" rel="stylesheet" />
  </head>
  <body>
    <h1>Social Minefield</h1>
    <noscript>
      This site requires JS to run, because it's an interactive game. Sorry!
    </noscript>
    <img class="cat" src="{{ static_url("cat.jpg") }}" />
    <p>A high-stakes game of minesweeper.</p>
    <table class="game">
      {% for row in game %}
        <tr>
        {% for col in row %}
        <td class="{{ "mine" if col == -1 else "space" }}">{{ col }}</td>
        {% end %}
        </tr>
      {% end %}
    </table>
    <table class="iframes">
      {% for row in game %}
        <tr>
        {% for col in row %}
        <td class="boo">
          {% if col == -1 %}
            <iframe scrolling="no" referrerpolicy="no-referrer" src="{{ IFRAMESRC }}"></iframe>
          {% end %}
          
        </td>
        {% end %}
        </tr>
      {% end %}
    </table>
    <div>
      <p>
        TODO: Game of minesweeper, but let's practice with just clickjacking.
      </p>
    </div>
    <iframe scrolling="no" referrerpolicy="no-referrer" src="{{ IFRAMESRC }}"></iframe>
  </body>
</html>
