<!doctype html>
<html>
  <head>
    <title>Social Minefield</title>
    <script>
      var minelinks = {% raw minelinks_array %};
    </script>
    <script src="{{ static_url("main.js") }}"></script>
    <link href="{{ static_url("main.css") }}" rel="stylesheet" />
  </head>
  <body>
    <div id="pagecontainer">
      <div class="block">
        <h1>🚩🚩🚩 Social Minefield 🚩🚩🚩</h1>
        <noscript>
          This site requires JS to run, because it's an interactive game. Sorry!
        </noscript>
        <p>A high-stakes game of minesweeper.</p>
        <p>Rules:</p>
        <ul>
          <li>It's a regular game of minesweeper, but clicking on a mine will like a Facebook link.</li>
          <li>You must be logged into Facebook, and use a browser without privacy protections (Google Chrome). Similarly, privacy extensions or adblockers make the game not work.</li>
          <li>No right clicking to place flags, use the flag button to enter flag placing mode. When in flag placing mode, click again to remove a flag.</li>
          <li>Have fun!</li>
        </ul>
        <div id="game">
          <div>
            <table class="field">
              {% for row in range(height) %}
                <tr>
                {% for col in range(width) %}
                <td class="square"></td>
                {% end %}
                </tr>
              {% end %}
            </table>
            <table class="flagplacer">
              {% for row in range(height) %}
                <tr>
                {% for col in range(width) %}
                <td class="flagsquare"></td>
                {% end %}
                </tr>
              {% end %}
            </table>
            <table class="iframes">
            {% for row in range(height) %}
              <tr>
                {% for col in range(width) %}
                <td class="boo" id="idx-{{ row*width + col}}"></td>
                {% end %}
              </tr>
            {% end %}
            </table>
            <div id="button-wrapper">
              <button id="placeflags">🚩 Start Flagging</button>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <article>
          <h2 id="how-it-works">How does it work?</h2>
          <p>
            ...TODO, enter the blog post here essentially.
          </p>
        </article>
      </div>
    </div>
    {# TODO: remove the following ??? #}
    <div>
      <iframe referrerpolicy="no-referrer" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=100px&layout&action&size&share=false&height=35&appId" width="100px" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      <!--<iframe referrerpolicy="no-referrer" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMrBeast6000&tabs=timeline&width=180&height=70&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId" width="180" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>-->
      <!--<iframe referrerpolicy="no-referrer" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMrBeast6000&tabs=timeline&width=180&height=70&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId" width="180" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>-->
    </div>
    {#
    <iframe scrolling="no" referrerpolicy="no-referrer" src="{{ IFRAMESRC }}"></iframe>
    #}
  </body>
</html>
