
@font-face {
  font-family: "OpenSans Variable";
  src: url("/static/opensans-variable.ttf") format("truetype");
}

body {
  font-family: "OpenSans Variable";
  background-color: darksalmon;
}

button, h1, h2, h3, h4, h5 {
  /* Remove built-in styling for buttons, it ruins the demo. */
  all: unset;
}

h1 {
  margin: 22px 0;
  font-size: 32px;
  font-weight: 700;
  display: block;
}
h2 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  display: block;
}
h3 {
  margin: 19px 0;
  font-size: 19px;
  font-weight: 700;
  display: block;
}
h4 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

#pagecontainer {
  max-width: 800px;
  margin: 0 auto;
}

.block {
  background-color: floralwhite;
  padding: 1em 3em 3em 3em;
  border-radius: 2em;
  border: 5px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
}

iframe {
  border: none;
  width: 53px;
  height: 20px;
  overflow: hidden;
}
iframe#example-failed {
  width: 400px;
  height: 200px;
  border: 3px solid black;
}
#example-failed-wrapper {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  justify-content: center;
}

.field {
  position: absolute;
  pointer-events: none;
}

.flagplacer {
  pointer-events: none;
  position: absolute;
}

.flagplacer.active {
  pointer-events: auto;
}

.flagsquare {
  pointer-events: none;
}

.flagsquare.active {
  pointer-events: auto !important;
}
.flagsquare.active::after {
  content: "🚩";
}

.flagsquare.active.incorrect::after {
  content: "🚫";
}

#button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#placeflags {
	padding: 12px;
	font-size: 14px;
	font-weight: 600;
	border: 4px black solid;
	border-radius: 10px;
	background-color: khaki;
  cursor: pointer;
}

#placeflags:hover {
  /* Khaki, but translucent. Setting opacity also changes the border colour,
   * which is ugly. */
  background-color: rgba(240, 230, 140, 0.7);
}

.square, .demo-square {
  background: #ececec;
  pointer-events: none;
}

.demo-square.like-button {
  background-image: url(/static/demos/likebutton.png);
}

#demo-game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#demo-game > div {
  max-width: 450px;
  text-align: center;
}

.square.clicked, .demo-square.clicked {
  background: #cccccc;
}

.square.clicked.explodedmine {
  background: red;
}

.zero {
  overflow: hidden;
}

.one::after {
  content: "1";
  overflow: hidden;
}

.two::after {
  content: "2";
  overflow: hidden;
}

.three::after {
  content: "3";
  overflow: hidden;
}

.four::after {
  content: "4";
  overflow: hidden;
}

.five::after {
  content: "5";
  overflow: hidden;
}

.six::after {
  content: "6";
  overflow: hidden;
}

.seven::after {
  content: "7";
  overflow: hidden;
}

.eight::after {
  content: "8";
  overflow: hidden;
}

.explodedmine::after {
  content: "💣";
  overflow: hidden;
}

tr {
  height: 20px;
}
td {
  height: 20px;
  width: 53px;
  padding: 0;
  text-align: center;
  /*
   * this is necessary, because it's necessary (:
   * https://stackoverflow.com/a/12805357
   */
  line-height: 0px;
}

table, tr, td {
  border: 2px solid black;
}
table {
  border-spacing: 0px;
}


#start-hint {
  display: flex;
  justify-content: center;
}

#start-hint > h3 {
  margin-bottom: 0px;
}

#start-hint.disabled {
  display: none;
}

footer.block > :last-child {
  margin-bottom: 0px;
}

/* interactive demo stuff */

/* Step 1 */
#intro-to-shopfast {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: ghostwhite;
}
.browser {
  /* This is 400px - the margin. */
  width: 380px;
  height: 380px;
  background: beige;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  /*
   * Allow scrolling, to simulate the scrollability, but hide the scroll bar.
   */
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.browser::-webkit-scrollbar {
  /* hide scrollbar for chrome et al */
  display: none;
}

.url-bar {
  background: lightgrey;
  z-index: 4;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 0 0;
  /* make the URL bar float above the content on scroll */
  position: sticky;
  top: 0;
  /* right align the view source button */
  justify-content: space-between;
  height: 24px;
}
.url-bar > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.url-bar > div > div {
  font-size: 11px;
}
.body {
  width: 80%;
  margin: 10px auto;
}
.header {
  background-color: black;
  color: white;
  padding: 3px;
  height: 29px;
}
.item-description > h3 {
  margin: 5px 0;
}
.item-description > p {
  margin: 5px 0;
}
.item-company {
  font-size: 12px;
  font-style: italic;
}
.logout {
  /*
   * We generally want the buttons in the demo to be clearly clickable.
   * I don't know why buttons in modern OSes don't look clickable, it doesn't
   * seem like great UX.
   */
  cursor: pointer;
}
.instant-purchase {
  background-color: yellowgreen;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.instant-purchase:hover {
  opacity: 0.7;
}
.instant-purchase:active {
  /* Styling on button click */
  opacity: 0.4;
}
.header > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-reviews {
  margin: 0 10px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.user-reviews::-webkit-scrollbar {
  /* hide scrollbar for chrome et al */
  display: none;
}

.user-reviews > div > p {
  margin: 0;
}
.user-reviews > div {
  margin: 5px;
}

.header > div > img {
  width: 50px;
}
.header > div > h1 {
  margin: 0;
  font-size: 16px;
}
.username {
  font-size: 12px;
}

.item-listing > img {
  border-radius: 10px;
  border: 2px solid lightgrey;
}

.item-listing {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.description {
  padding: 10px;
  display: inline-block;
}

.description > h4 {
  margin: 5px 0;
}

/* Step 2 */

#shonky-setup {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: ghostwhite;
}

#shonky-setup .browser {
  background: cornflowerblue;
}

#underconstruction {
  width: 250px;
}

#shonky-setup .browser-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shonky-setup .body {
  border: 3px ridge white;
  background-color: white;
  border-radius: 23px;
  text-align: center;
}

/* Step 3 */

#embedding-the-website {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: ghostwhite;
}

/* 4 */
#overlaying-divs {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: ghostwhite;
}
/* Makes clickjacking a bit harder to screw up. */
#overlaying-divs > .browser {
  /* This is 400px - the margin. */
  width: 380px;
  background: beige;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}
.blocker-1.hidden {
  display: none;
}
.blocker-1 {
  position: absolute;
  background-color: black;
  z-index: 2;
  width: 380px;
  height: 122px;
}
.blocker-2 {
  position: absolute;
  background-color: black;
  z-index: 2;
  width: 192px;
  height: 356px;
}
.blocker-2.hidden {
  display: none;
}
.blocker-3 {
  position: absolute;
  background-color: black;
  z-index: 2;
  width: 100px;
  height: 376px;
  left: 281px;
}
.blocker-3.hidden {
  display: none;
}
.blocker-4 {
  position: absolute;
  background-color: black;
  z-index: 2;
  width: 380px;
  height: 210px;
  top: 170px;
}
.blocker-4.hidden {
  display: none;
}

/* 5 */
#adding-enticing-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: ghostwhite;
}
#adding-enticing-content > .browser {
  overflow: hidden;
  /* This is 400px - the margin. */
  width: 380px;
  background: beige;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}
.shonky-content {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shonky-steve-logo {
  width: 314px;
}

div#obnoxious-ctr {
  position: absolute;
  top: 86px;
  width: 300px;
  border: 15px solid;
  border-color: lightgray gray lightgray white;
  height: 200px;
  pointer-events: none;
  margin-top: 6px;
  background-color: #282828;
  animation: rotatingborder 2s step-start infinite;
}
@keyframes rotatingborder {
  0% {
    border-color: lightgray gray lightgray white;
  }
  25% {
    border-color: white lightgray gray lightgray;
  }
  50% {
    border-color: lightgray white lightgray gray;
  }
  75% {
    border-color: gray lightgray white lightgray;
  }
}
.one-millionth {
  color: white;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  top: 55px;
  width: 148px;
  font-size: 15px;
  left: 134px;
  animation: blinky 1s step-start infinite;
}

@keyframes blinky {
  50% { opacity: 0; }
}
.shonky-cool-car {
  position: absolute;
  width: 150px;
  left: 140px;
  top: 113px;
}
.shonky-red-arrow {
  position: absolute;
  width: 56px;
  left: 83px;
  top: 26px;
  animation: 3s ease-in 1s infinite reverse both running rotatey;
}
@keyframes rotatey {
  0% { transform: rotate(-12deg); }
  50% { transform: rotate(12deg); }
  100% { transform: rotate(-12deg); }
}
.click-2-claim{
  color: cyan;
  font-size: 15pt;
  display: inline-block;
  width: 60px;
  left: 26px;
  text-align: center;
  position: absolute;
  top: 50px;
  font-weight: 600;
  animation: 3s ease-in 1s infinite reverse both running pulse;
}

@keyframes pulse {
  50% { font-weight: 1000; }
}

.claim-now {
  background-color: red;
  position: absolute;
  left: 152px;
  top: 15px;
  width: 83px;
  text-align: center;
  height: 18px;
  border: 3px white outset;
  animation: blinky2 1s step-start infinite;
}

@keyframes blinky2 {
  50% { background-color: cyan; }
}

/* 6 */
#epilogue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: ghostwhite;
}

/* General demo stuff */
.demo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.demo-wrapper h3 {
  font-size: 14px;
}
.demo-wrapper > div {
  width: 700px;
  height: 400px;
  border-radius: 10px;
  border: 3px black dashed;
  display: flex;
  flex-direction: column;
}
.demo-wrapper > div.hidden {
  display: none !important;
}

/* Simple syntax highlighting */
.browser-source .tag {
  color: #117dea;
}
.browser-source .attribute {
  color: #e32fb9;
}
.browser-source .string {
  color: #0340ab;
}
.browser-source .comment {
  color: grey;
}

.browser-source > h4 {
  margin: 5px 0;
}

.browser-source {
  background-color: #ececec;
  margin: 0;
  /* I have no idea why I need at least 1 pixel padding top */
  padding: 1px 9px;
  min-height: 100%;
}

.browser-source > pre {
  margin: 0;
}

.browser-body.hidden, .browser-source.hidden {
  display: none !important;
}

.st {
  text-decoration: line-through;
}

.steps > button {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 3px black solid;
  cursor: pointer;
  margin-top: 5px;
}
.steps > button[disabled] {
  cursor: not-allowed;
}

#checker-wrapper {
  background-color: bisque;
  padding: 1em;
  border-radius: 10px;
  border: 3px solid black;
}
#clickjacking-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#clickjacking-checker > div {
  display: flex;
  gap: 4px;
}
#clickjacking-checker button[type=submit] {
  padding: 5px;
  display: inline-block;
  height: 20px;
  border-radius: 5px;
  border: 3px solid black;
  background-color: white;
  font-weight: 600;
}
label[for=clickjacking-website-input] {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
#clickjacking-website-input {
  font-size: 16px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  border: 3px solid black;
}

#clickjacking-checker > div.loader {
  display: none;
}
#clickjacking-checker.loading > div.loader {
  display: inline-block;
}

.results .hidden {
  display: none;
}
