iframe {
  border: none;
  width: 53px;
  height: 20px;
  overflow: hidden;
}

.cat {
  width: 53px;
  top: 125px;
  position: fixed;
  height: 20px;
  left: 17px;
  pointer-events: none;
}

.game {
  position: absolute;
  pointer-events: none;
}

.flagplacer {
  pointer-events: none;
  position: absolute;
}

.flagplacer.active {
  pointer-events: auto;
}

.flagsquare {
  pointer-events: none;
}

.flagsquare.active {
  pointer-events: auto !important;
}
.flagsquare.active::after {
  content: "🚩";
}

.flagsquare.active.incorrect::after {
  content: "🚫";
}

.square {
  background: #ececec;
  pointer-events: none;
}

.square.clicked {
  background: #cccccc;
}

.square.clicked.explodedmine {
  background: red;
}

.zero {
  overflow: hidden;
}

.one::after {
  content: "1";
  overflow: hidden;
}

.two::after {
  content: "2";
  overflow: hidden;
}

.three::after {
  content: "3";
  overflow: hidden;
}

.four::after {
  content: "4";
  overflow: hidden;
}

.five::after {
  content: "5";
  overflow: hidden;
}

.six::after {
  content: "6";
  overflow: hidden;
}

.seven::after {
  content: "7";
  overflow: hidden;
}

.eight::after {
  content: "8";
  overflow: hidden;
}

.explodedmine::after {
  content: "💣";
  overflow: hidden;
}

tr {
  height: 20px;
}
td {
  height: 20px;
  width: 53px;
  padding: 0;
  text-align: center;
  /*
   * this is necessary, because it's necessary (:
   * https://stackoverflow.com/a/12805357
   */
  line-height: 0px;
}

table {
  border-spacing: 0;
}
