body {
  margin: auto;
  padding: 10px;
  align-items: center;
  width: calc(100% - 20px);
}

body>* {
  width: 100%;
  max-width: 1600px;
}

body, table {
  color: #333;
  font-size: 12px;
  font-family: arial, sans-serif;
}

p {
  margin: 0;
  color: #555;
  padding: 3px;
  line-height: 18px;
  text-align: justify;
}

details {
  outline: none;
  margin: 10px auto 0 auto;
  border: solid 1px rgba(0,0,0,0.1);
}

summary {
  border: 0;
  margin: 0;
  color: #555;
  padding: 5px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  font-weight: bold;
  font-family: arial, sans-serif;
}

summary:focus {
  outline: none;
}

input {
  margin: 0;
  color: #555;
  padding: 3px;
  height: 38px;
  outline: none;
  font-size: 12px;
  border: solid 1px #ddd;
  font-family: arial, sans-serif;
}

input[placeholder] {
  border: 0;
  width: 100%;
  height: 36px;
  padding: 0 5px;
  border-radius: 0;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0 5px;
  height: unset;
  vertical-align: middle;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.05);
}

input[type="text"][disabled]{
  color: #555;
  background: rgba(0,0,0,0.05);
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 1px;
  border: solid 1px #fff;
}

table thead {
  font-weight: bold;
}

table thead tr td {
  height: 28px;
  color: #8941a1;
  font-size: 12px;
  min-width: 16px;
  font-family: arial, sans-serif;
}

table tr td {
  border: 0;
  margin: 0;
  width: auto;
  color: #555;
  height: auto;
  padding: 3px;
  font-size: 12px;
  line-height: 18px;
  background-color: #FFF;
  transition: 300ms ease all;
  font-family: arial, sans-serif;
}

table tr td[type='number'] {
  cursor: move;
  text-align: center;
}

table tr td[type='name'], table tr td[type='value'] {
  width: auto;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre-line;
  vertical-align: middle;
}

table tr td[type='url'] {
  text-align: left;
}

table tr td[type='value'] {
  max-width: 330px;
  text-align: left;
}

table tr td[type='toggle'] {
  width: 64px;
  text-transform: uppercase;
  user-select: none !important;
}

table tr td[type='close'] {
  width: 54px;
  color: #555;
  font-size: 9px;
  user-select: none;
}

table tr td[type='ajax-item-add'] {
  padding: 0;
  width: 136px;
  height: 38px;
  color: #8941a1;
  cursor: pointer;
  font-size: 28px;
  font-family: monospace;
}

table tr td[type='ajax-item'] {margin: 0}
table tr td[type='check'] {text-align: center}
table tr td[type='ajax-item-add']:hover {color: #555}
table tr td[type='toggle'][state='active'] {color: #2E78BB}
table tr td[type='toggle'][state='inactive'] {color: #D7D7D7}
table tr[state='inactive'] td input {opacity: 0.5 !important}
table tr[state='inactive'] td, table tr[state='inactive'] td a {color: #C3C3C3}

.information {
  color: #555;
  padding: 5px;
  text-align: justify;
  background-color: #fff;
}

.grey {
  background-color: rgba(0,0,0,0.1);
}

.note {
  padding: 0;
  margin: 10px auto;
  color: #707070 !important;
}

.section {
  border: 0;
  padding: 0;
  margin: 0 auto;
}

.section .container {
  margin: 0;
  padding: 5px;
}

.interface {
  margin-top: 10px;
  border: solid 1px rgba(0,0,0,0.1);
}

#console-log {
  margin: 0;
  float: right;
}

#header-value-table tr td {
  user-select: text;
}

#header-value-table tr td[type='close']:hover {
  color: #da1313 !important;
}

#header-value-table tr td[type='check'],
#header-value-table tr td[type='close'],
#header-value-table tr td[type='toggle'] {
  cursor: pointer;
}
